<a href="https://colab.research.google.com/github/csabajozsef/adatviz/blob/main/First_look_at_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
import numpy as np

In [54]:
df_edges = pd.read_csv('DATA/large_twitch_edges.csv')
df_nodes = pd.read_csv('DATA/large_twitch_features.csv')

In [55]:
df_edges.head()

   numeric_id_1  numeric_id_2
0         98343        141493
1         98343         58736
2         98343        140703
3         98343        151401
4         98343        157118

In [56]:
df_edges.shape

(6797557, 2)

In [57]:
df_nodes.head()

,views,mature,life_time,created_at,updated_at,numeric_id,dead_account,language,affiliate
0,7879,1,969,2016-02-16,2018-10-12,0,0,EN,1
1,500,0,2699,2011-05-19,2018-10-08,1,0,EN,0
2,382502,1,3149,2010-02-27,2018-10-12,2,0,EN,1
3,386,0,1344,2015-01-26,2018-10-01,3,0,EN,0
4,2486,0,1784,2013-11-22,2018-10-11,4,0,EN,0

In [58]:
df_nodes.shape

(168114, 9)

In [59]:
df_nodes.dtypes

views            int64
mature           int64
life_time        int64
created_at      object
updated_at      object
numeric_id       int64
dead_account     int64
language        object
affiliate        int64
dtype: object

In [60]:
# binary/categorical data - count

In [61]:
df_nodes.columns

Index(['views', 'mature', 'life_time', 'created_at', 'updated_at',
       'numeric_id', 'dead_account', 'language', 'affiliate'],
      dtype='object')

In [62]:
df_for_value_counts = df_nodes[['mature','dead_account', 'language', 'affiliate']]

In [63]:
df_for_value_counts.apply(pd.Series.value_counts)

        mature  dead_account  language  affiliate
0      89081.0      162955.0       NaN    86568.0
1      79033.0        5159.0       NaN    81546.0
CS         NaN           NaN     576.0        NaN
DA         NaN           NaN     503.0        NaN
DE         NaN           NaN    9428.0        NaN
EN         NaN           NaN  124411.0        NaN
ES         NaN           NaN    5699.0        NaN
FI         NaN           NaN     652.0        NaN
FR         NaN           NaN    6799.0        NaN
HU         NaN           NaN     427.0        NaN
IT         NaN           NaN    1230.0        NaN
JA         NaN           NaN    1327.0        NaN
KO         NaN           NaN    1215.0        NaN
NL         NaN           NaN     701.0        NaN
NO         NaN           NaN     330.0        NaN
OTHER      NaN           NaN    1429.0        NaN
PL         NaN           NaN     944.0        NaN
PT         NaN           NaN    2536.0        NaN
RU         NaN           NaN    4821.0        NaN
SV         NaN           NaN     854.0        NaN
TH         NaN           NaN     632.0        NaN
TR         NaN           NaN     772.0        NaN
ZH         NaN           NaN    2828.0        NaN

In [64]:
# bigger range - distribution