In [6]:
import numpy as np

In [7]:
from py2neo import Graph, Node, Relationship

In [8]:
import pandas as pd

In [12]:
graph = Graph("bolt://localhost:7687", auth=("neo4j", "monster"))
# graph.run("UNWIND range(1, 3) AS n RETURN n, n * n as n_sq")

In [7]:
# ?graph.create

In [8]:
# ?graph.nodes

In [6]:
# ?graph.nodes

In [16]:
df_of_nodes = pd.read_csv("./Data/large_twitch_features.csv")
df_of_nodes

,views,mature,life_time,created_at,updated_at,numeric_id,dead_account,language,affiliate
0,7879,1,969,2016-02-16,2018-10-12,0,0,EN,1
1,500,0,2699,2011-05-19,2018-10-08,1,0,EN,0
2,382502,1,3149,2010-02-27,2018-10-12,2,0,EN,1
3,386,0,1344,2015-01-26,2018-10-01,3,0,EN,0
4,2486,0,1784,2013-11-22,2018-10-11,4,0,EN,0
...,...,...,...,...,...,...,...,...,...
168109,4965,0,810,2016-07-20,2018-10-08,168109,0,EN,0
168110,4128,1,2080,2013-01-31,2018-10-12,168110,0,EN,0
168111,3545,0,1797,2013-11-08,2018-10-10,168111,0,EN,1
168112,892736,1,2135,2012-12-07,2018-10-12,168112,0,EN,0
168113,791,0,2005,2013-01-22,2018-07-20,168113,0,EN,0

In [17]:
node_attributes_list = list(df_of_nodes.columns)
node_attributes_list

['views',
 'mature',
 'life_time',
 'created_at',
 'updated_at',
 'numeric_id',
 'dead_account',
 'language',
 'affiliate']

In [15]:
# graph.run("create constraint on (u:user) assert u.numeric_id is unique")
graph.run("CALL db.constraints")

 name                | description                                                    | details
---------------------|----------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------
 constraint_a625408b | CONSTRAINT ON ( user:user ) ASSERT (user.numeric_id) IS UNIQUE | Constraint( id=4, name='constraint_a625408b', type='UNIQUENESS', schema=(:user {numeric_id}), ownedIndex=3 )

In [ ]:
"""# nodes from pandas df line by line
for index in range(168114):
    #print(i)
    dict_of_one_node_properties={} # new dict for all nodes, node = row in df
    for attr in node_attributes_list: # curr node properties
        if isinstance((df_of_nodes.loc[index,attr]), np.integer):
            dict_of_one_node_properties[attr] = int(df_of_nodes.loc[index,attr])
        #print(attr," : ",df_of_nodes.loc[index,attr])
        else:
            dict_of_one_node_properties[attr] = df_of_nodes.loc[index,attr]
    node = Node("user", **dict_of_one_node_properties)
    graph.create(node)"""

In [19]:
# graph.delete_all()

In [33]:
t =["views","mature","life_time","created_at","updated_at","numeric_id","dead_account","language","affiliate"]
tt=[i + ":" +"line."+i for i in t ]
", ".join(tt)

'views:line.views, mature:line.mature, life_time:line.life_time, created_at:line.created_at, updated_at:line.updated_at, numeric_id:line.numeric_id, dead_account:line.dead_account, language:line.language, affiliate:line.affiliate'

In [17]:
# creade nodes from csv
query1 = """LOAD CSV WITH HEADERS FROM "file:///large_twitch_features.csv" AS line
             CREATE (n:user {views:line.views, mature:line.mature, life_time:line.life_time, 
             created_at:date(line.created_at), updated_at:date(line.updated_at), numeric_id:line.numeric_id, 
             dead_account:line.dead_account, language:line.language, affiliate:line.affiliate})
             """
# print(query1)
graph.run(query1)

(No data)

In [18]:
# create edges from csv
query2 ="""USING PERIODIC COMMIT 1000
            LOAD CSV WITH HEADERS FROM "file:///large_twitch_edges.csv" AS row
            MATCH (p1:user), (p2:user)
            WHERE p1.numeric_id = row.numeric_id_1 AND p2.numeric_id = row.numeric_id_2
            CREATE (p1)-[:FOLLOWS]->(p2)"""
graph.run(query2)

(No data)

In [16]:
# All positional arguments passed to the constructor are interpreted as labels 
# and all keyword arguments as properties
# node = Node("user", **dict_of_one_node_properties) 
# node label = user, utÃ¡na key value pairs - node properties
# node.items() # get node properties

In [ ]:
# bulk loading - py2neo
# edgeket betÃ¶lteni, ha nincs hozzÃ¡ node lÃ©trehozni - merge!

In [ ]:
# The match needs the label portion to utilize the index.
# Try replacing MATCH (m),(n) with MATCH (m:Address), (n:Address)

In [12]:
df_of_edges = pd.read_csv("./Data/large_twitch_edges.csv")
df_of_edges.dtypes

numeric_id_1    int64
numeric_id_2    int64
dtype: object

In [4]:
len(graph.relationships)

6797557

In [5]:
len(graph.nodes)

168114